* {
    margin: 0;
    padding: 0;
	text-align: center;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    padding-top: 50px;
    margin-bottom: 20px;
    color: rgb(91, 182, 194);
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 1.4rem;
}

.tagline {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.cardtainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img {
    max-height: 230px;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid rgb(193, 195, 197);
    margin-bottom: 0;
    padding-bottom: 0;
}

.panel {
    border: 1px solid rgb(193, 195, 197);
}

.middle {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.lihead {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(99, 199, 212);
}

.leftlihead {
    margin-right: 30px;
}

li {
    text-align: left;
    font-size: 1.3rem;
}

.firstcol {
    border-right: 1px solid rgb(193, 195, 197);
}


@media screen and (min-width: 900px) { /* at least 900px */
    article {padding: 1rem 3rem; }
  }

viewport width equal to or narrower than 12450px:
@media (max-width: 12450px) { ... }
